<div class="header-left">
    <img src="img/gatito-tienda.png" class="header-icon" alt="Tienda">

    <a href="#" class="menu-img-btn" data-page="mi-gatito">
        <img src="img/mi-gatito.png" alt="Mi gatito">
    </a>
</div>

<div class="header-center">
    <img src="img/mi-cat.png" alt="Cat Coffee" class="logo-img">
</div>

<div class="header-right">
    <a href="#" class="menu-img-btn" data-page="avatar-btn">
        <img src="img/avatar.png" alt="Avatar" class="header-avatar">
    </a>
</div>