<header id="header-container">
    <!-- Header se cargará aquí dinámicamente -->
</header>

<div class="container">
    <aside>
        <h3>Menú</h3>
        <ul class="menu">
            <li>
                <a href="#" class="menu-img-btn" data-page="inicio">
                    <img src="img/btn-inicio.png" alt="Inicio">
                </a>
            </li>
            <li>
                <a href="#" class="menu-img-btn" data-page="servicios">
                    <img src="img/btn-servicios.png" alt="Servicios">
                </a>
            </li>
            <li>
                <a href="#" class="menu-img-btn" data-page="tienda">
                    <img src="img/btn-tienda.png" alt="Tienda">
                </a>
            </li>
            <li>
                <a href="#" class="menu-img-btn" data-page="contacto">
                    <img src="img/btn-contacto.png" alt="Contacto">
                </a>
            </li>
            <li>
                <a href="#" class="menu-img-btn" data-page="configuracion">
                    <img src="img/btn-config.png" alt="Configuración">
                </a>
            </li>
        </ul>
    </aside>

    <main id="main-content" class="page-content">
        <!-- Contenido de las páginas se cargará aquí dinámicamente -->
    </main>
</div>

<footer id="footer-container">
    <!-- Footer se cargará aquí dinámicamente -->
</footer>